* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

/* style hero section */
.hero-section {
  height: 100vh;
  /* warna background */
  background: linear-gradient(
      250deg,
      rgba(176, 122, 218, 0) 45%,
      rgba(133, 93, 215, 1) 65%
    ),
    linear-gradient(
      360deg,
      rgba(133, 93, 215, 1) 0%,
      rgba(255, 255, 255, 0) 25%
    ),
    url(img/phainon.png) no-repeat,
    repeating-linear-gradient(
      90deg,
      rgba(255, 255, 255, 0.05) 0px,
      rgba(255, 255, 255, 0.05) 2px,
      transparent 1px,
      transparent 40px
    ),
    repeating-linear-gradient(
      0deg,
      rgba(255, 255, 255, 0.05) 0px,
      rgba(255, 255, 255, 0.05) 2px,
      transparent 1px,
      transparent 40px
    ),
    linear-gradient(
      135deg,
      rgba(203, 129, 201, 1) 25%,
      rgba(133, 93, 215, 1) 100%
    );

  background-size: 285%;
  background-position: 55% 100%;
}

.hero-section .hero-element {
  padding: 1rem;
  min-height: 70vh;
  max-width: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
}

.hero-section header.hero-header {
  position: relative;
}

.hero-section header.hero-header h1 {
  font-family: "Bebas Neue", sans-serif;
  color: white;
  font-size: 5rem;
  font-weight: 400;
  line-height: 4rem;
}

/* .hero-section h1 span {
  display: flex;
  justify-content: center;
  align-items: center;
} */

.hero-section header.hero-header span.sticker {
  text-transform: uppercase;
  display: inline-block;
  font-family: "Lexend Peta", sans-serif;
  color: white;
  background: #3600be;
  position: absolute;
  top: 1.4rem;
  line-height: 1;
  font-size: 0.85rem;
  padding: 0 1rem;
}

.hero-section .hero-description {
  color: white;
  font-size: 0.7rem;
  font-weight: 400;
  text-transform: capitalize;
  padding-bottom: 0.3rem;
}

.hero-section .btn {
  border: 0.1rem solid white;
}

.hero-section .btn a::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 0%;
  height: 100%;
  background: white;
  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  z-index: -1;
}

.hero-section .btn a {
  z-index: 1;
  position: relative;
  width: 100%;
  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  font-family: "Montserrat", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.5rem;
  text-decoration: none;
  text-transform: capitalize;
  color: white;
  font-weight: 500;
}

.hero-section .btn a:hover {
  color: #855dd7;
}

.hero-section .btn a:hover::before {
  width: 100%;
}

.hero-section .btn a p.hero-cta {
  margin-right: 0.5rem;
}

/* style hero section end */
/* style service section */
.service-section {
  height: 100vh;
  width: 100%;
  /* background-color: #855dd7; */
  background: linear-gradient(
    0deg,
    rgba(203, 129, 201, 1) 0%,
    rgba(133, 93, 215, 1) 50%
  );
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.service-section .service-header {
  text-align: center;
  text-transform: capitalize;
  font-weight: 400;
  color: white;
  font-size: 0.8rem;
}

.service-section .service-detail-container {
  height: 90%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 1rem;
  padding: 1.3rem;
}

.service-section .service-detail-container .service-detail {
  padding: 0.8rem;
  display: flex;
  justify-content: space-evenly;
  align-items: flex-start;
  flex-direction: column;
  border-radius: 0.5rem;
  background-color: white;
  height: 100%;
  width: 100%;
  -webkit-border-radius: 0.5rem;
  -moz-border-radius: 0.5rem;
  -ms-border-radius: 0.5rem;
  -o-border-radius: 0.5rem;
  position: relative;
}

.service-section .service-detail-container .service-detail::after {
  content: " ";
  background: #eee;
  height: 2px;
  position: absolute;
  display: block;
  width: 80%;
}

.service-section .service-detail-container .service-detail .icon {
  width: 20%;
  position: absolute;
  top: 0;
  right: 0;
  background: rgba(203, 129, 201, 0.5);
  border-radius: 50%;
  border: 1.5px dashed rgba(203, 129, 201, 1);
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}

.service-section
  .service-detail-container
  .service-detail
  .service-detail-header {
  font-size: 0.8rem;
  position: relative;
}

.service-section
  .service-detail-container
  .service-detail
  .service-detail-description {
}
/* style service section end */
